---
pagination:
  addAllPagesToCollections: true
  data: squidex.queryPageContents
  size: 1
permalink: "{% if lang != \"en\" %}/{{lang}}{% endif %}{% if pagination.items[0].flatData.type != \"page\" %}/{{ pagination.items[0].flatData.type }}{% endif %}{% if pagination.items[0].flatData.slug != empty %}/{{ pagination.items[0].flatData.slug | slugify }}{% endif %}/"
lang: "fr"
collection: "Page"

---
{% assign state_itg3_pagination = pagination %}
{% assign state_itg3_items = pagination.items %}
{% assign state_itg3_pages = pagination.pages %}<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/page-75c1e85f1aa82289456bcf2c812267e4cda6bc362889ba5742e89b62d4e3c20f.css" />
{% assign url = "https://www.silex.me" %}

<meta name="viewport" content="width=device-width"><meta charset="UTF-8">
<meta name="generator" content="Silex v3">
<meta name="generator" content="{{ eleventy.generator }}">

<!--  font google -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
<!--  
<script src="https://unpkg.com/swup@4"></script> 
<script> const swup = new Swup(); </script>
 -->
<script data-concat>
// mark links which lead to current page
window.addEventListener('load', function() {
    // Get the current page URL
    const currentUrl = window.location.href;

    // Find all links with the 'data-current-class' attribute
    const links = document.querySelectorAll('a[data-current-class]');

    // Iterate over each link
    links.forEach(link => {
        // Get the URL from the 'href' attribute of the link
        const linkUrl = link.href;

        // Get the class name from the 'data-current-class' attribute
        const className = link.getAttribute('data-current-class');

        // Check if the link URL is the same as the current page URL
        if (linkUrl === currentUrl) {
            // Add the class to the link element
            link.classList.add(className);
        } else {
            link.classList.remove(className);
        }
    });
  	// Sticky menu disappears when scroll down
    let lastScrollTop = 0;
    const navbars = document.querySelectorAll('nav, .hide-on-scroll');
    window.addEventListener('scroll', () => {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop) {
            // Scroll down
            navbars.forEach(navbar => {
              navbar.style.top = '-150px';
              navbar.style.opacity = '0';
            });
        } else {
            // Scroll up
            navbars.forEach(navbar => {
              navbar.style.top = '0px';
              navbar.style.opacity = '1';
            });
        }
        lastScrollTop = scrollTop;
    });
});  
</script>
<style data-concat>
  nav, .hide-on-scroll {
    transition: top .2s ease, opacity .2s ease;
  }
/* Applies styles when Reduced Motion is enabled */
@media screen and (prefers-reduced-motion: reduce) { 
}
/*animations keyframes for on-load and on-scroll*/
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideY {
	0% {
		opacity: 0;
		transform: translateY(-3rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0rem);
	}
}
/*animations on-load*/
.header-cont h1,
.header-cont img {
	animation: slideY ease .8s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.header-cont p {
	animation: slideY ease .8s;
	animation-delay: 100ms;
}
.header-cont a {
	animation: slideY ease .8s;
	animation-delay: 200ms;
}
/*animations on-scroll*/
main section:has(:not(.header-cont *)) {
	h2,
	h3,
	h4,
	h5,
	p,
	a,
	img,
	li {
		animation: slideY ease-in-out both .8s;
		animation-timeline: view(block);
		animation-range: cover 0% cover 40%;
	}
	p,
	li {
		animation-delay: 200ms;
	}
	a {
		animation-delay: 300ms;
	}
}
/*animations on scroll*/
  /* hamburger menu */
  .mobile-menu-checkbox + .mobile-menu {
	display: none;
  }
  .mobile-menu-checkbox:checked + .mobile-menu {
	display: initial;
  }
  html, body {
 	scroll-behavior: smooth;
  }

  body,
  p,
  h1,
  h2,
  h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .link {
    text-decoration: none;
  }
  a {
    color: inherit;
	text-underline-offset: 4px;
}
  .nonunderline a, a.nonunderline{
    text-decoration: none;
  }
  h5, h6 {
    text-transform: uppercase;
  }
  .rich-h1 h1, .rich-h1 h2 {
    font-size:2.5rem;
    line-height:2.8rem;
  }

  .rich-h1 p {
    font-size: 1.5rem;
    line-height: 1.9rem;  
  }
    
  .rich-text ul+h3 {
        margin-top:60px;
    }
  .rich-text ul+h2{
			margin-top:50px;
			
		}

  .bigger-text p{
font-weight:400;
font-size: 1.5rem;
    line-height: 2.2rem;
}
picture{
    display:contents;
}
.min-content{max-width:min-content;}

/*h3 bold when no h2*/
.spe-heading-text .rich-text:has(:not(.h2)) .h3{
        font-weight: bold;
    }
/*h3 bold when no h2*/
/*to have extra padding before network-cont */
@media (min-width: 768px) {
  .grid-2-alternate:has(+.box-cont) {
    padding-bottom:120px;}
    
  }
  /* when 2x boxes*/
  .box-cont+.box-cont .box {
    background: linear-gradient(180deg, #ececec 0%, #fff 25%); 
    border:1px solid white;
}
	.box-cont+.box-cont {
		padding: 0 60px;
}
  .text-wrap {
    text-wrap: balance;}
  img {
    height: 100%;
 	  max-width: 100%;
  }
  .z-index10 {
    z-index: 10;
  }
  .z-index-10 {
    z-index: -10;
  }
  /* anchors */
  .has-anchor {
    scroll-margin: 30px;
  }
  .has-anchor a {
    text-decoration: none;
  }
  .has-anchor:hover a {
    text-decoration: underline;
  }
  .has-anchor:hover::before {
    content: "🔗\00a0";
    display: inline;
    font-size: 0.5em;
	  position: absolute;
  	transform: translateX(-30px);
  }

@media (min-width: 992px) {
  section:nth-of-type(2n) .alternate-in-section {
    flex-direction: row-reverse;
  }
}
  /*alternate BG section*/
  section:nth-of-type(2n):has(.alternate-in-section).bg-gradient{
background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgba(254,247,248,1) 100%);  }

@media (max-width: 992px) {
  section:nth-of-type(2n) .alternate-in-section .spe-heading-icone { order:1;}  
 .bg-gradient, section:nth-of-type(2n):has(.alternate-in-section).bg-gradient  { background: linear-gradient(180deg, rgba(254,247,248,1) 0%, rgba(255,255,255,1) 65%)!important;}
}


  /* for colors being applied to a, links*/
  /*
  .text-color-363063 *, .text-color-808080 *, a {
    color: inherit;
  }*/

  .bg-gradient {
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(254,247,248,1) 0%, rgba(255,255,255,1) 65%); }
.bg-pale-pink{
  background-color:#fef7f8;}

  /*BG+blueprint-pattern*/
  .bg-gradient-blue-pattern{
    background: url("/cms/assets/1101fc1c-0958-4238-83d1-37e4a1f9bf87.svg") center/auto repeat, linear-gradient(90deg, #1775CB, #1465AF);
  }
  /*list bullets*/
  .p ul {
    text-align: left;
    list-style: none;
    max-width:700px;
    margin: 0 auto;
    display: inline-block;
  }

.p ul li {  
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='30' width='30'><path d='M21.856,10.303C21.942,10.857 22,11.421 22,12C22,18.075 17.075,23 11,23C4.925,23 0,18.075 0,12C0,5.925 4.925,1 11,1C13.347,1 15.518,1.741 17.304,2.993L15.882,4.45C14.474,3.537 12.8,3 11,3C6.038,3 2,7.038 2,12C2,16.962 6.038,21 11,21C15.894,21 19.879,17.072 19.99,12.205L21.856,10.303ZM20.904,2.167L11.5,11.806L7.657,8.192L4.562,11.29L11.5,18L24,5.263L20.904,2.167Z' fill='rgb(54,48,99)'/></svg>");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 55px;
    margin: 30px 10px;
    min-height:50px;
}
.p ul li p {  
    padding-top:5px;
  }
 
    /*list numbered*/
    .p ol li {
     counter-increment: li;
     background-color:#f9f8f8;
     transition: padding 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
   }

 .p ol li::marker {
    content: "#" counter(li) " ";
    font-weight: bold;
    font-size: 2.25rem;
  }
@media (min-width: 992px) {
      .p ol {
       text-align: left;
       margin: 0 auto;
       padding-left: 0;
       max-width:700px
  }
     .p ol li {
       counter-increment: li;
       margin: 10px 0;
       padding:10px 20px;
   }
  }
  @media (max-width: 991px)  {
      .p ol {
        list-style-position: inside;
  padding-left:0;
    }
      .p ol li {
        padding: 40px 20px;
        margin: 20px 0;
  }}
  /*FX*/
  .fx-multiply img {mix-blend-mode: multiply;}
  .fx-color-ff557a a:hover {color:#E61E4A;}
  .fx-color-ff557a a{transition: color 0.2s ease-in-out;}
  /*CTA*/
  .cta{
    text-transform: uppercase;
    text-decoration: none;
    break-inside: avoid;
  }
  a.cta:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    bottom: 10%;
    background-color: white;
    transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, width 0.2s ease-in-out;
  }
  a.cta:hover{
    z-index: 10;
    color: inherit;
  }
  a.cta:hover:after{
    position: relative;
    z-index: -1;
    padding:0 10px;
    margin:0 10px 0 -10px;
    bottom: 26px;
    height: 100%;
  }
  @media (max-width: 992px)  {
    a.cta:hover:after{
      bottom: 36px;
  }}

  /*CTA*/
  /*CTA-BTN*/
  .cta-btn {
    break-inside: avoid;
    position: relative;
    text-transform: uppercase;
    border-radius:99px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .cta-btn:after{
    content: "";
    position: absolute;
    z-index: -1;
    display: inline-block;
    border-radius:99px;
    width: 0%;
    height:0%;
    left:50%;
    transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, width 0.2s ease-in-out, left 0.2s ease-in-out;
  }
  .cta-btn:hover {
    color: inherit;
    z-index: 10;
  }
  .cta-btn:hover:after{
    width: 100%;
    height:100%;
    left:0;
    bottom:0;
    background-color: white;
  }
  /*CTA version colored*/
  a.cta.text-color-FF557A:after {
    background: linear-gradient(to right, #ff557a 0%, #FF6985 75%, #FFA2A2 100%);
  }
  /*CTA version colored*/
  /*CTA-BTN version colored*/
  .cta-btn.text-color-FF557A{
    background-image: linear-gradient(white, white), linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #ff557a 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  .cta-btn.text-color-FF557A.text-color-FFFBFC{
    background-image: linear-gradient(#fffafb, #fff9fb), linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #ff557a 100%);
  }
  .cta-btn.text-color-FF557A:hover:after{
    background-image: linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #E61E4A 100%), linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #ff557a 100%);
  }


  /*CTA-BTN version colored*/
  /*cta-btn-ico NETWORK*/
  .cta:hover, .cta-btn:hover, .cta-btn-ico:hover, .cta-btn-mini-ico:hover {
    transform: scale(1.1);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  .cta:hover {
    transform: scale(1.1) translateY(10px);
  }
  a.cta-btn-ico .app-ico-title:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    margin: 0 auto;
    bottom: 0px;
    left:0;
    background-color: white;
 transition: height 0.2s cubic-bezier(0, -0.530, 0.405, 1.8), bottom 0.2s cubic-bezier(0, -0.530, 0.405, 1.8), width 0.2s cubic-bezier(0, -0.530, 0.405, 1.8);
}
  a.cta-btn-ico:hover .app-ico-title{
    color: inherit;
    margin: 10px 0 -14px 0;
  }
  a.cta-btn-ico:hover .app-ico-title:before {
    z-index: -1;
    top: 0px;
    height: 100%;
}
  a.cta-btn-ico:hover .app-ico-txt {
    margin-top:14px
}
  a.cta-btn-ico .app-ico-cont .app-ico {
    transform: scale(0.85);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  a.cta-btn-ico:hover .app-ico-cont .app-ico {
    transform: scale(1.1);
  }
  /*cta-btn-ico NETWORK*/
  .box {
    width: fit-content;
  }

  /*cta-btn-mini-ico*/
  a.cta-btn-mini-ico__cont .app-ico{
    transform: scale(0.85);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  a.cta-btn-mini-ico__cont:hover .app-ico {
    transform: scale(1.1);
  }

  /*cta-btn-mini-ico*/
  /*GRID*/
  /*avoid break column elements*/
  .grid-2 *,
  .grid-4 * {
    /*overflow: hidden; //deactivated for scroll animation*/
  
    /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
  }
  .grid-2 {
    column-count: 2;
  }
  .grid-4 {
    column-count: 4;
    column-gap: 0px;
  }
  @media (max-width: 992px) {
    .grid-2 {
      column-count: 1;
    }
  }
  .grid-gap {
    column-gap: 10rem;
  }
  /*GRID*/
  /*squares*/
  .square h4 {
    transition: color 0.2s ease-in-out;
  }
  .square:hover .h4 {
    color:#ff557a}
  .square:hover p {
    color:#363063}
  /*.multicolored-border*/
  .multicolored-border {
    background: linear-gradient(45deg, #F9F9F9, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 4px) no-repeat, linear-gradient(-45deg, #D9D9D9 0%, #D9D9D9 100%);
    transition: background 1.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }

.multicolored-border:hover {
  background: linear-gradient(45deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 20px) no-repeat, linear-gradient(45deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
  transition: background 0.8s cubic-bezier(0, -0.530, 0.405, 2.8);
  animation: gradient .5s linear infinite;
  animation-delay: 0.1s;
}
  /*gradient animation*/
  @keyframes gradient {
    0% {
      background: linear-gradient(0deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 20px) no-repeat, linear-gradient(0deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    }
    50% {
      background: linear-gradient(0deg, #FFF0F4, #ffffff) 50% 50%/calc(100%- 20px) calc(100% - 20px) no-repeat, linear-gradient(180deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    }
    100% {
      background: linear-gradient(0deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 20px) no-repeat, linear-gradient(590deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    }
  }
  /*gradient animation*/
  /*ease-back animation*/
  .ease-back:hover {
    transform: scale(1.02);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  .ease-back:hover p {
    transform: scale(1.07);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  /*ease-back animation*/
  /*squares*/
  /*ROTATING TITLES*/
  .cd-headline {
    line-height: 1.2;
    margin: 0 0 10px 0;
  }
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
  }
  @media only screen and (max-width: 450px) {
    .cd-words-wrapper b {
      padding: 0;
    }
  }
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    padding: 0.1rem 1.5rem;
    background-color: #E61E4A;
    font-size:3.5rem!important;
  }
  @media (max-width: 480px) {
    .cd-words-wrapper b {
      white-space: initial;
    }
  }
  .cd-words-wrapper b.is-visible {
    position: relative;
  }
  .no-js .cd-words-wrapper b {
    opacity: 0;
  }
  .no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
  }
  .cd-headline.slide span {
    display: inline-block;
    padding: .2em 0.5em;
  }
  .cd-headline.slide .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
  }
  .cd-headline.slide b {
    opacity: 0;
    top: .2em;
  }
  .cd-headline.slide b.is-visible {
    top: 0;
    opacity: 1;
    -webkit-animation: slide-in 0.6s;
    -moz-animation: slide-in 0.6s;
    animation: slide-in 0.6s;
  }
  .cd-headline.slide b.is-hidden {
    -webkit-animation: slide-out 0.6s;
    -moz-animation: slide-out 0.6s;
    animation: slide-out 0.6s;
  }
  @-webkit-keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
  @-moz-keyframes slide-in {
    0% {
      opacity: 0;
      -moz-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -moz-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
      -o-transform: translateY(20%);
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
    }
  }
  @-moz-keyframes slide-out {
    0% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -moz-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -moz-transform: translateY(100%);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
      -moz-transform: translateY(120%);
      -ms-transform: translateY(120%);
      -o-transform: translateY(120%);
      transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  /*ROTATING TITLES*/

  /*FOOTER*/
  .footer-text a:hover{
    color:#E61E4A}
  /*FOOTER*/
</style>
<style>
  .no-padding-between + .no-padding-between {
    padding-top: 0;
  }
  .no-padding-between:has( + .no-padding-between) {
    padding-bottom: 0;
  }
  .grid-2-alternate:nth-child(even) .grid-2 {
    flex-direction: row-reverse;
  }
  @media (max-width: 992px) {
  .grid-2-alternate:nth-child(even) .grid-2 {
  flex-direction: column-reverse;
}}
  
</style>


<link rel="canonical" href="{{ url }}{% if lang != "en" %}/{{lang}}{% endif %}{% if pagination.items[0].flatData.type != "page" %}/{{ pagination.items[0].flatData.type }}{% endif %}{% if pagination.items[0].flatData.slug != empty %}/{{ pagination.items[0].flatData.slug | slugify }}{% endif %}/">

{% assign item = pagination.items | first %}
{%- if lang == "en" %}
	{%- assign alt-lang = "fr" %}
    {%- assign alt-slug = item.flatData.slugFr %}
	{%- if alt-slug == blank %}
		{%- assign alt-url = "/fr/" %}
	{%- else %}
		{%- assign alt-url = "/fr/" | append: alt-slug | append: "/" %}
	{%- endif %}
{%- else %}
	{%- assign alt-lang = "en" %}
    {%- assign alt-slug = item.flatData.slugEn %}
	{%- if alt-slug == blank %}
		{%- assign alt-url = "/" %}
	{%- else %}
		{%- assign alt-url = "/" | append: alt-slug | append: "/" %}
	{%- endif %}
{%- endif %}


<meta property="og:locale:alternate" content="{{ alt-lang }}">
<link rel="alternate" hreflang="en" href="{{ url }}{{ alt-url }}" data-concat>

<title>{% liquid
    assign var_itg3_2420 = state_itg3_items | first
	assign var_itg3_2421 = var_itg3_2420.flatData.title
    echo var_itg3_2421
  %}</title>
<link rel="icon" href="{% liquid
    assign var_itg3_2424 = squidex.findGlobalSingleton.flatData.favicon | first
	assign var_itg3_2425 = var_itg3_2424.url
    echo var_itg3_2425
  %}" />
<meta name="description" property="description" content="{% liquid
    assign var_itg3_2422 = state_itg3_items | first
	assign var_itg3_2423 = var_itg3_2422.flatData.description
    echo var_itg3_2423
  %}"/>
<meta name="og:title" property="og:title" content="{% liquid
    assign var_itg3_2429 = state_itg3_items | first
	assign var_itg3_2430 = var_itg3_2429.flatData.title
    echo var_itg3_2430
  %}"/>
<meta name="og:description" property="og:description" content="{% liquid
    assign var_itg3_2431 = state_itg3_items | first
	assign var_itg3_2432 = var_itg3_2431.flatData.description
    echo var_itg3_2432
  %}"/>
<meta name="og:image" property="og:image" content="{% liquid
    assign var_itg3_2426 = state_itg3_items | first
	assign var_itg3_2427 = var_itg3_2426.flatData.shareImage | first
	assign var_itg3_2428 = var_itg3_2427.url
    echo var_itg3_2428
  %}"/>
<link href="https://fonts.googleapis.com" rel="preconnect" ><link href="https://fonts.gstatic.com" rel="preconnect" crossorigin ><link href="https://fonts.googleapis.com/css?family=Ubuntu:regular&display=swap" rel="stylesheet" ></head>
{% liquid
    assign var_itg3_2406 = state_itg3_items | first
	assign var_itg3_2407 = var_itg3_2406.flatData.slug
    assign state_itg3_itg3-hfz218swvzc = var_itg3_2407
  %}
{% liquid
    assign var_itg3_2408 = squidex.queryPageContents | first
	assign var_itg3_2409 = var_itg3_2408.data.slug
    assign state_itg3_itg3-f11vx0e9lvl = var_itg3_2409
  %}
{% liquid
    assign var_itg3_2410 = state_itg3_itg3-f11vx0e9lvl.fr
    assign state_itg3_itg3-bs58o7zu14v = var_itg3_2410
  %}
{% liquid
    assign var_itg3_2411 = state_itg3_itg3-f11vx0e9lvl.en
    assign state_itg3_itg3-n8bs6a55fs = var_itg3_2411
  %}
{% liquid
    assign var_itg3_2412 = state_itg3_items | first
	assign var_itg3_2413 = var_itg3_2412.flatData.type
    assign state_itg3_itg3-w8te2r1vm4 = var_itg3_2413
  %}
{% liquid
    assign var_itg3_2414 = state_itg3_items | first
	assign var_itg3_2415 = var_itg3_2414.flatData.lang
    assign state_itg3_itg3-luv7z1bn5r = var_itg3_2415
  %}
{% liquid
    assign var_itg3_2416 = state_itg3_items | find: "", 
	assign var_itg3_2417 = var_itg3_2416.flatData.slugEn
    assign state_itg3_itg3-shmtd9l5pm = var_itg3_2417
  %}
{% liquid
    assign var_itg3_2418 = state_itg3_items | first
	assign var_itg3_2419 = var_itg3_2418.flatData.slugFr
    assign state_itg3_itg3-kfapt0t0p5k = var_itg3_2419
  %}<body id="itg3" href="" class=""><A id="ime5u3" href="#content" class="focus-visible">Skip to content<br/></A><NAV id="iiqo3h" class="menu"><a id="iek8au" href="{% liquid
    assign var_iek8au_1203 = "/" | locale_url: ""
    echo var_iek8au_1203
  %}" class="logo" alt="logo"><img id="i65ujh" src="/assets/SILEX-logo.svg"/></a><div id="ipp628" class="menu-cont tablet-hide margin-on-the-side"><div id="ic8gpm" class="nonunderline text-color-737373 menu-text">{% liquid
    assign var_ijzsdm_1205 = squidex.findGlobalSingleton.flatData.nav
    %}
    {% for state_ijzsdm___data in var_ijzsdm_1205 %}
  <a id="ijzsdm" href="{% liquid
    assign var_ijzsdm_1207 = state_ijzsdm___data.url
    echo var_ijzsdm_1207
  %}" class="menu-item" title="{% liquid
    assign var_ijzsdm_1206 = state_ijzsdm___data.title
    echo var_ijzsdm_1206
  %}" data-current-class="current">{% liquid
    assign var_ijzsdm_1204 = state_ijzsdm___data.label
    echo var_ijzsdm_1204
  %}</a>{% endfor %}</div></div><label id="ikmvui" for="mobile-menu-checkbox" class="mobile-menu-button desktop-hide"></label><a id="i4m7pf" class="cta-btn text-color-FF557A tablet-hide margin-on-the-side" href="{% liquid
    assign var_i4m7pf_1209 = squidex.findGlobalSingleton.flatData.url
    echo var_i4m7pf_1209
  %}">{% liquid
    assign var_i4m7pf_1208 = squidex.findGlobalSingleton.flatData.label
    echo var_i4m7pf_1208
  %}</a><div id="in1ith" class="flex-center tablet-hide"><select id="i9qu6" class="no-border-bg margin-on-the-side h5-height-fixed" onchange="location.pathname = this.value" log="{% liquid
    assign var_i9qu6_1242 = state_itg3_items | first
	assign var_i9qu6_1243 = var_i9qu6_1242.flatData.lang
    echo var_i9qu6_1243
  %}">{% liquid
    assign var_i41rxa_1226 = state_itg3_items | first
	assign var_i41rxa_1227 = var_i41rxa_1226.flatData.lang
	assign var_i41rxa_1228 = "en"
    %}
    {% if var_i41rxa_1227 == var_i41rxa_1228 %}
  <option id="i41rxa" class="" label="EN" selected="true"></option>{% endif %}{% liquid
    assign var_i16qdq_1229 = state_itg3_items | first
	assign var_i16qdq_1230 = var_i16qdq_1229.flatData.lang
	assign var_i16qdq_1231 = "fr"
    %}
    {% if var_i16qdq_1230 == var_i16qdq_1231 %}
  <option id="i16qdq" class="" label="FR" selected="true"></option>{% endif %}{% liquid
    assign var_ianzuo_1232 = state_itg3_items | first
	assign var_ianzuo_1233 = var_ianzuo_1232.flatData.lang
	assign var_ianzuo_1234 = "en"
    %}
    {% if var_ianzuo_1233 != var_ianzuo_1234 %}
  <option id="ianzuo" class="" value="{% liquid
    assign var_ianzuo_1235 = state_itg3_items | first
	assign var_ianzuo_1236 = var_ianzuo_1235.flatData.slugEn | prepend: "/" | append: "/"
    echo var_ianzuo_1236
  %}" label="EN"></option>{% endif %}{% liquid
    assign var_ihxv0q_1237 = state_itg3_items | first
	assign var_ihxv0q_1238 = var_ihxv0q_1237.flatData.lang
	assign var_ihxv0q_1239 = "fr"
    %}
    {% if var_ihxv0q_1238 != var_ihxv0q_1239 %}
  <option id="ihxv0q" class="" value="{% liquid
    assign var_ihxv0q_1240 = state_itg3_items | first
	assign var_ihxv0q_1241 = var_ihxv0q_1240.flatData.slugFr | prepend: "/fr/" | append: "/"
    echo var_ihxv0q_1241
  %}" label="FR"></option>{% endif %}</select></div></NAV><input type="checkbox" id="mobile-menu-checkbox" class="mobile-menu-checkbox"/><div id="i6lt6f" class="mobile-menu text-color-737373 hide-on-scroll"><div id="iuklek" class="nonunderline uppercase menu-text vertical-list text-centered">{% liquid
    assign var_itue8_1245 = squidex.findGlobalSingleton.flatData.nav
    %}
    {% for state_ijzsdm___data in var_itue8_1245 %}
  <a class="menu-item click-zone" href="{% liquid
    assign var_itue8_1246 = state_ijzsdm___data.url
    echo var_itue8_1246
  %}" title="{% liquid
    assign var_itue8_1247 = state_ijzsdm___data.title
    echo var_itue8_1247
  %}" data-current-class="current">{% liquid
    assign var_itue8_1244 = state_ijzsdm___data.label
    echo var_itue8_1244
  %}</a>{% endfor %}</div><div id="ixuc2o"><a href="{% liquid
    assign var_iqy1eg_1248 = state_itg3_items | first
	assign var_iqy1eg_1249 = var_iqy1eg_1248.flatData.slugFr | prepend: "/fr/"
    echo var_iqy1eg_1249
  %}" id="iqy1eg" class="click-zone current link" data-current-class="current">Français</a> | <a href="{% liquid
    assign var_i0yl8j_1250 = state_itg3_items | first
	assign var_i0yl8j_1251 = var_i0yl8j_1250.flatData.slugEn | prepend: "/"
    echo var_i0yl8j_1251
  %}" id="i0yl8j" class="click-zone link" data-current-class="current">English</a><br/></div></div><MAIN id="iwnzwf">{% liquid
    assign var_swup_2372 = state_itg3_items | first
	assign var_swup_2373 = var_swup_2372.data.modules.en | first
	assign var_swup_2374 = var_swup_2373.item__Dynamic
    assign state_ixhp6z_ixhp6z-o5u858qmucs = var_swup_2374
  %}{% liquid
    assign var_swup_2370 = state_itg3_items | first
	assign var_swup_2371 = var_swup_2370.flatData.modules
    %}
    {% for state_ixhp6z___data in var_swup_2371 %}
  {% liquid
    assign var_ia0wm7_1827 = state_ixhp6z___data.item
    assign state_ia0wm7_ia0wm7-97f07796os7 = var_ia0wm7_1827
  %}{% liquid
    assign var_ia0wm7_1825 = state_ia0wm7_ia0wm7-97f07796os7.type
	assign var_ia0wm7_1826 = "hero-word-slider"
    %}
    {% if var_ia0wm7_1825 == var_ia0wm7_1826 %}
  <section id="content" style="display:none;" class="bg-gradient-blue-pattern header-cont"><div id="ih4x9s"><script>
  document.addEventListener("DOMContentLoaded", function() {
    const wrapper = document.querySelector('.cd-words-wrapper');
    const divs = wrapper.querySelectorAll(':scope > *');
    document.querySelectorAll('.cd-headline.slide b.is-visible:not(:first-of-type)')
      .forEach(el => el.classList.remove('is-visible'))
    let currentIndex = 0;
    console.log({
      wrapper, divs, currentIndex}
               )
    setInterval(function() {
      // Remove 'is-visible' class from current div
      divs[currentIndex].classList.remove('is-visible');
      // Move to the next div
      currentIndex = (currentIndex + 1) % divs.length;
      // Add 'is-visible' class to the new current div
      divs[currentIndex].classList.add('is-visible');
    }
                , 5000);
  }
                           );
</script>
<SECTION id="icuhim" class="bg-rectangles"><DIV id="i5xhpg" class="text-white max-1400 rotating-text-cont text-centered"><h3 id="ip6tvd" class="h3">{% liquid
    assign var_ip6tvd_1818 = state_ia0wm7_ia0wm7-97f07796os7.before
    echo var_ip6tvd_1818
  %}</h3><section class="cd-intro"><h1 id="i9eos" class="cd-headline slide"><span class="cd-words-wrapper">{% liquid
    assign var_i63rae_1820 = state_ia0wm7_ia0wm7-97f07796os7.words
    %}
    {% for state_i63rae___data in var_i63rae_1820 %}
  <b id="i63rae" class="is-visible">{% liquid
    assign var_i63rae_1819 = state_i63rae___data.word
    echo var_i63rae_1819
  %}</b>{% endfor %}</span></h1></section><H3 id="i9avbv" class="h3"><b id="iubjb" class="">{% liquid
    assign var_iubjb_1821 = state_ia0wm7_ia0wm7-97f07796os7.after
    echo var_iubjb_1821
  %}</b></H3></DIV><div id="i9cck2" class="CTA-inline text-color-FF557A"><a id="i9sqaq" class="cta-btn text-white bg-ff557a" href="{% liquid
    assign var_i9sqaq_1823 = state_ia0wm7_ia0wm7-97f07796os7.cTAUrl
    echo var_i9sqaq_1823
  %}" title="{% liquid
    assign var_i9sqaq_1824 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    echo var_i9sqaq_1824
  %}">{% liquid
    assign var_i9sqaq_1822 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    echo var_i9sqaq_1822
  %}</a></div></SECTION></div></section>{% endif %}{% liquid
    assign var_ibmer_1846 = state_ixhp6z___data.item
    assign state_ia0wm7_ia0wm7-97f07796os7 = var_ibmer_1846
  %}{% liquid
    assign var_ibmer_1844 = state_ia0wm7_ia0wm7-97f07796os7.type
	assign var_ibmer_1845 = "simple-hero"
    %}
    {% if var_ibmer_1844 == var_ibmer_1845 %}
  <section id="content" class="bg-gradient-blue-pattern header-cont"><div id="iyogd9"><SECTION id="ixc94f" class="bg-rectangles hero-height"><div id="iha4b" class="text-white rich-text text-shadow rich-h1 text-centered text-wrap">{% liquid
    assign var_iha4b_1836 = state_ia0wm7_ia0wm7-97f07796os7.text
    echo var_iha4b_1836
  %}</div><div id="i0odk5" class="CTA-inline text-color-FF557A">{% liquid
    assign var_ilq1v_1838 = state_ia0wm7_ia0wm7-97f07796os7.secondaryLabel
    %}
    {% if var_ilq1v_1838 and var_ilq1v_1838 != blank and var_ilq1v_1838 != empty %}
  <a class="cta text-white" href="{% liquid
    assign var_ilq1v_1839 = state_ia0wm7_ia0wm7-97f07796os7.secondaryUrl
    echo var_ilq1v_1839
  %}">{% liquid
    assign var_ilq1v_1837 = state_ia0wm7_ia0wm7-97f07796os7.secondaryLabel
    echo var_ilq1v_1837
  %}</a>{% endif %}{% liquid
    assign var_i4mjc_1841 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    %}
    {% if var_i4mjc_1841 and var_i4mjc_1841 != blank and var_i4mjc_1841 != empty %}
  <a class="cta-btn text-white bg-ff557a" href="{% liquid
    assign var_i4mjc_1842 = state_ia0wm7_ia0wm7-97f07796os7.cTAUrl
    echo var_i4mjc_1842
  %}" title="{% liquid
    assign var_i4mjc_1843 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    echo var_i4mjc_1843
  %}">{% liquid
    assign var_i4mjc_1840 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    echo var_i4mjc_1840
  %}</a>{% endif %}</div></SECTION></div></section>{% endif %}{% liquid
    assign var_iktmgi_1849 = state_ixhp6z___data.item
    assign state_iktmgi_iktmgi-7jwxlnudcng = var_iktmgi_1849
  %}{% liquid
    assign var_iktmgi_1847 = state_iktmgi_iktmgi-7jwxlnudcng.type
	assign var_iktmgi_1848 = "section-slideshow-up"
    %}
    {% if var_iktmgi_1847 == var_iktmgi_1848 %}
  <section id="iktmgi" style="display:none;" class="flex-centered"><div id="ik8vy2" class="display-up z-index10"></div></section>{% endif %}{% liquid
    assign var_inhtf_1862 = state_ixhp6z___data.item
    assign state_iktmgi_iktmgi-7jwxlnudcng = var_inhtf_1862
  %}{% liquid
    assign var_inhtf_1860 = state_iktmgi_iktmgi-7jwxlnudcng.type
	assign var_inhtf_1861 = "section-image-up"
    %}
    {% if var_inhtf_1860 == var_inhtf_1861 %}
  <section class="flex-centered header-cont"><div id="im7yg" class="display-up z-index10">{% liquid
    assign var_i8zces_1855 = state_iktmgi_iktmgi-7jwxlnudcng.image | log
    assign state_i8zces-4411_i8zces-aze25smac9h = var_i8zces_1855
  %}<img webc:is="eleventy-image" src="{% liquid
    assign var_i8zces_1856 = state_iktmgi_iktmgi-7jwxlnudcng.image | first
	assign var_i8zces_1857 = var_i8zces_1856.url
    echo var_i8zces_1857
  %}" id="i8zces" class="full-width box--shadow img-bg" alt="{% liquid
    assign var_i8zces_1858 = state_iktmgi_iktmgi-7jwxlnudcng.image | first
	assign var_i8zces_1859 = var_i8zces_1858.fileName
    echo var_i8zces_1859
  %}" loading="eager"></img></div></section>{% endif %}{% liquid
    assign var_ij90tw_1933 = state_ixhp6z___data.item
    assign state_ij90tw_ij90tw-stl8ngtrzye = var_ij90tw_1933
  %}
{% liquid
    assign var_ij90tw_1934 = "special-heading"
    assign state_ij90tw_ij90tw-j8ob5nddtrr = var_ij90tw_1934
  %}{% liquid
    assign var_ij90tw_1931 = state_ij90tw_ij90tw-stl8ngtrzye.type
	assign var_ij90tw_1932 = "special-heading"
    %}
    {% if var_ij90tw_1931 == var_ij90tw_1932 %}
  <section id="ij90tw" class="margin-section-50 special-heading {% liquid
    assign var_ij90tw_1935 = state_ij90tw_ij90tw-stl8ngtrzye.styleBg
    echo var_ij90tw_1935
  %}"><div id="i2qm05" class="max-1400 text-color-363063"><DIV id="iwsos7" href="" class="rich-text">{% liquid
    assign var_imoxj_1915 = state_ij90tw_ij90tw-stl8ngtrzye.title
    %}
    {% if var_imoxj_1915 and var_imoxj_1915 != blank and var_imoxj_1915 != empty %}
  <h2 id="{% liquid
    assign var_imoxj_1916 = state_ij90tw_ij90tw-stl8ngtrzye.title | slugify
    echo var_imoxj_1916
  %}" class="h2 has-anchor"><a id="ip0ocl" href="{% liquid
    assign var_ip0ocl_1914 = state_ij90tw_ij90tw-stl8ngtrzye.title | slugify | prepend: "#"
    echo var_ip0ocl_1914
  %}" class="">{% liquid
    assign var_ip0ocl_1913 = state_ij90tw_ij90tw-stl8ngtrzye.title
    echo var_ip0ocl_1913
  %}</a><br/></h2>{% endif %}{% liquid
    assign var_iwl8l_1921 = state_ij90tw_ij90tw-stl8ngtrzye.subtitle
    %}
    {% if var_iwl8l_1921 and var_iwl8l_1921 != blank and var_iwl8l_1921 != empty %}
  <h3 id="{% liquid
    assign var_iwl8l_1922 = state_ij90tw_ij90tw-stl8ngtrzye.subtitle | slugify
    echo var_iwl8l_1922
  %}" class="h3">{% liquid
    assign var_iih74y_1920 = state_ij90tw_ij90tw-stl8ngtrzye.subtitle
    %}
    {% if var_iih74y_1920 and var_iih74y_1920 != blank and var_iih74y_1920 != empty %}
  <span id="iih74y" href="" class="">{% liquid
    assign var_iih74y_1919 = state_ij90tw_ij90tw-stl8ngtrzye.subtitle
    echo var_iih74y_1919
  %}</span>{% endif %}<br/></h3>{% endif %}{% liquid
    assign var_is2v9p_1924 = state_ij90tw_ij90tw-stl8ngtrzye.text
    %}
    {% if var_is2v9p_1924 and var_is2v9p_1924 != blank and var_is2v9p_1924 != empty %}
  <div id="is2v9p" class="p fx-color-ff557a">{% liquid
    assign var_is2v9p_1923 = state_ij90tw_ij90tw-stl8ngtrzye.text
    echo var_is2v9p_1923
  %}</div>{% endif %}</DIV></div><div id="i1bh1t" title="i303s" class="CTA-inline text-color-FF557A">{% liquid
    assign var_i6635_1926 = state_ij90tw_ij90tw-stl8ngtrzye.labelSecondary
    %}
    {% if var_i6635_1926 and var_i6635_1926 != blank and var_i6635_1926 != empty %}
  <a id="i6635" class="cta text-color-FF557A" href="{% liquid
    assign var_i6635_1927 = state_ij90tw_ij90tw-stl8ngtrzye.uRLSecondary
    echo var_i6635_1927
  %}">{% liquid
    assign var_i6635_1925 = state_ij90tw_ij90tw-stl8ngtrzye.labelSecondary
    echo var_i6635_1925
  %}</a>{% endif %}{% liquid
    assign var_i4pbq_1929 = state_ij90tw_ij90tw-stl8ngtrzye.label
    %}
    {% if var_i4pbq_1929 and var_i4pbq_1929 != blank and var_i4pbq_1929 != empty %}
  <a id="i4pbq" class="cta-btn text-color-FF557A" href="{% liquid
    assign var_i4pbq_1930 = state_ij90tw_ij90tw-stl8ngtrzye.uRL
    echo var_i4pbq_1930
  %}">{% liquid
    assign var_i4pbq_1928 = state_ij90tw_ij90tw-stl8ngtrzye.label
    echo var_i4pbq_1928
  %}</a>{% endif %}</div></section>{% endif %}{% liquid
    assign var_i21ti_1974 = state_ixhp6z___data.item
    assign state_i21ti_i21ti-z6itz9ag9fo = var_i21ti_1974
  %}{% liquid
    assign var_i21ti_1972 = state_i21ti_i21ti-z6itz9ag9fo.type
	assign var_i21ti_1973 = "section-pattern-grid"
    %}
    {% if var_i21ti_1972 == var_i21ti_1973 %}
  <section id="i21ti" class="grid-2-alternate {% liquid
    assign var_i21ti_1975 = state_i21ti_i21ti-z6itz9ag9fo.style
    echo var_i21ti_1975
  %}"><div id="i8izek" class="grid-2 max-w-1400"><div id="ifg9w" class="spe-heading-text col-1-2"><DIV id="i65ch" class="rich-text text-shadow fx-color-ff557a bigger-text pattern-bg-txt">{% liquid
    assign var_imufht_1955 = state_i21ti_i21ti-z6itz9ag9fo.title
    %}
    {% if var_imufht_1955 and var_imufht_1955 != blank and var_imufht_1955 != empty %}
  <h2 class="h2">{% liquid
    assign var_imufht_1954 = state_i21ti_i21ti-z6itz9ag9fo.title
    echo var_imufht_1954
  %}</h2>{% endif %}{% liquid
    assign var_iyqc9_1957 = state_i21ti_i21ti-z6itz9ag9fo.subtitle
    %}
    {% if var_iyqc9_1957 and var_iyqc9_1957 != blank and var_iyqc9_1957 != empty %}
  <h3 id="iyqc9" class="h3">{% liquid
    assign var_iyqc9_1956 = state_i21ti_i21ti-z6itz9ag9fo.subtitle
    echo var_iyqc9_1956
  %}</h3>{% endif %}{% liquid
    assign var_ig4lg_1959 = state_i21ti_i21ti-z6itz9ag9fo.text
    %}
    {% if var_ig4lg_1959 and var_ig4lg_1959 != blank and var_ig4lg_1959 != empty %}
  <div id="ig4lg" class="p">{% liquid
    assign var_ig4lg_1958 = state_i21ti_i21ti-z6itz9ag9fo.text
    echo var_ig4lg_1958
  %}</div>{% endif %}</DIV><div id="izg57" class="text-color-8772FE CTA-inline">{% liquid
    assign var_id3to_1961 = state_i21ti_i21ti-z6itz9ag9fo.labelSecondary
    %}
    {% if var_id3to_1961 and var_id3to_1961 != blank and var_id3to_1961 != empty %}
  <a id="id3to" class="cta text-white" href="{% liquid
    assign var_id3to_1962 = state_i21ti_i21ti-z6itz9ag9fo.uRLSecondary
    echo var_id3to_1962
  %}">{% liquid
    assign var_id3to_1960 = state_i21ti_i21ti-z6itz9ag9fo.labelSecondary
    echo var_id3to_1960
  %}</a>{% endif %}{% liquid
    assign var_ib6kl_1964 = state_i21ti_i21ti-z6itz9ag9fo.label
    %}
    {% if var_ib6kl_1964 and var_ib6kl_1964 != blank and var_ib6kl_1964 != empty %}
  <a id="ib6kl" class="cta-btn text-white" href="{% liquid
    assign var_ib6kl_1965 = state_i21ti_i21ti-z6itz9ag9fo.uRL
    echo var_ib6kl_1965
  %}">{% liquid
    assign var_ib6kl_1963 = state_i21ti_i21ti-z6itz9ag9fo.label
    echo var_ib6kl_1963
  %}</a>{% endif %}</div></div><div id="i3u63b" class="spe-heading-text col-1-2">{% liquid
    assign var_in5bh_1966 = state_i21ti_i21ti-z6itz9ag9fo.image | first
    %}
    {% if var_in5bh_1966 and var_in5bh_1966 != blank and var_in5bh_1966 != empty %}
  <img src="{% liquid
    assign var_in5bh_1967 = state_i21ti_i21ti-z6itz9ag9fo.image | first
	assign var_in5bh_1968 = var_in5bh_1967.url
    echo var_in5bh_1968
  %}" id="in5bh" class="spe-heading-icone min-content {% liquid
    assign var_in5bh_1971 = state_i21ti_i21ti-z6itz9ag9fo.shadow
    echo var_in5bh_1971
  %}" alt="{% liquid
    assign var_in5bh_1969 = state_i21ti_i21ti-z6itz9ag9fo.image | first
	assign var_in5bh_1970 = var_in5bh_1969.slug
    echo var_in5bh_1970
  %}"></img>{% endif %}</div></div><br/></section>{% endif %}{% liquid
    assign var_ipfu63_1980 = state_ixhp6z___data.item
    assign state_i21ti_i21ti-z6itz9ag9fo = var_ipfu63_1980
  %}{% liquid
    assign var_ipfu63_1978 = state_i21ti_i21ti-z6itz9ag9fo.type
	assign var_ipfu63_1979 = "section-code"
    %}
    {% if var_ipfu63_1978 == var_ipfu63_1979 %}
  <section class="grid-2-alternate"><div id="i431yz" class="">{% liquid
    assign var_i431yz_1977 = state_i21ti_i21ti-z6itz9ag9fo.code
    echo var_i431yz_1977
  %}</div></section>{% endif %}{% liquid
    assign var_ifhuto_1983 = state_ixhp6z___data.item
    assign state_i21ti_i21ti-z6itz9ag9fo = var_ifhuto_1983
  %}{% liquid
    assign var_ifhuto_1981 = state_i21ti_i21ti-z6itz9ag9fo.type
	assign var_ifhuto_1982 = "section-friends"
    %}
    {% if var_ifhuto_1981 == var_ifhuto_1982 %}
  <section id="ifhuto" class="padding-bottom-150"><style>
  body {
    background-color: #f9f8f8;
    font-family: Arial, sans-serif;
    color: #1465af;
  }

  .project-list {
    list-style: none;
    padding: 0;
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
  }

  .project-item {
    background-color: #ffffff;
    border: 1px solid #ededed;
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }

  .project-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 8px;
    border: 1px solid #ededed;
  }

  .project-content {
    flex-grow: 1;
  }
  
  .project-content img {
    max-width: 50%;
  }

  .project-name {
    font-size: 1.5em;
    color: #1465af;
    margin: 20px 0;
  }

  .project-description {
    font-size: 1em;
    color: #8096f8;
    margin-bottom: 10px;
  }

  .project-tags {
    margin-bottom: 10px;
  }

  .project-tag {
    display: inline-block;
    background-color: #ff557a;
    color: #ffffff;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 0.9em;
  }

  .project-links a {
    color: #1465af;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
  }

  .project-links a:hover {
    text-decoration: underline;
  }
</style>

<ul class="project-list">
  {% for project in libre_friends.projects %}
    <li class="project-item">
      <div class="project-content">
        <img class="project-img" src="https://libre-friends.silexlabs.org/{{ project.logo }}" alt="{{ project.name }} logo">
        <div class="project-name">{{ project.name }}</div>
        <div class="project-description">{{ project.description }}</div>
        <div class="project-tags">
          {% for tag in project.xxxxxxxtags %}
            <span class="project-tag">{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="project-links">
          <a href="{{ project.source }}" target="_blank">Source</a>
          <a href="{{ project.docs }}" target="_blank">Documentation</a>
          <a class="cta-btn text-color-FF557A text-color-FFFBFC ease-back" href="{{ project.url }}" target="_blank">Website</a>
        </div>
      </div>
    </li>
  {% endfor %}
</ul></section>{% endif %}{% liquid
    assign var_i2gwfj_2076 = state_ixhp6z___data.item
    assign state_i2gwfj_i2gwfj-8wnzlaji45f = var_i2gwfj_2076
  %}{% liquid
    assign var_i2gwfj_2074 = state_i2gwfj_i2gwfj-8wnzlaji45f.type
	assign var_i2gwfj_2075 = "section-squares"
    %}
    {% if var_i2gwfj_2074 == var_i2gwfj_2075 %}
  <section id="i2gwfj" class="margin-section-50 bg-pale-pink {% liquid
    assign var_i2gwfj_2077 = state_i2gwfj_i2gwfj-8wnzlaji45f.styleBg
    echo var_i2gwfj_2077
  %}"><div id="i16omy" class="max-1400"><div id="i31mv9" class="max-1400 text-color-363063"><DIV href="" id="iwybx9" class="rich-text">{% liquid
    assign var_i2o4n4_2033 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainTitle
    %}
    {% if var_i2o4n4_2033 and var_i2o4n4_2033 != blank and var_i2o4n4_2033 != empty %}
  <h2 class="h2 has-anchor" id="{% liquid
    assign var_i2o4n4_2034 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainTitle | slugify
    echo var_i2o4n4_2034
  %}"><a href="{% liquid
    assign var_i5v1o2_2032 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainTitle | slugify | prepend: "#"
    echo var_i5v1o2_2032
  %}" id="i5v1o2" class="">{% liquid
    assign var_i5v1o2_2031 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainTitle
    echo var_i5v1o2_2031
  %}</a><br/></h2>{% endif %}{% liquid
    assign var_imrltw_2039 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainSubtitle
    %}
    {% if var_imrltw_2039 and var_imrltw_2039 != blank and var_imrltw_2039 != empty %}
  <h3 class="h3" id="{% liquid
    assign var_imrltw_2040 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainSubtitle | slugify
    echo var_imrltw_2040
  %}">{% liquid
    assign var_i2xnyf_2038 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainSubtitle
    %}
    {% if var_i2xnyf_2038 and var_i2xnyf_2038 != blank and var_i2xnyf_2038 != empty %}
  <span href="" id="i2xnyf" class="">{% liquid
    assign var_i2xnyf_2037 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainSubtitle
    echo var_i2xnyf_2037
  %}</span>{% endif %}<br/></h3>{% endif %}{% liquid
    assign var_iegz37_2042 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainText
    %}
    {% if var_iegz37_2042 and var_iegz37_2042 != blank and var_iegz37_2042 != empty %}
  <div id="iegz37" class="p">{% liquid
    assign var_iegz37_2041 = state_i2gwfj_i2gwfj-8wnzlaji45f.mainText
    echo var_iegz37_2041
  %}</div>{% endif %}</DIV></div><div id="i0an82" class="grid margin-bot-50">{% liquid
    assign var_itr4xe_2069 = state_i2gwfj_i2gwfj-8wnzlaji45f.cards
    %}
    {% for state_itr4xe___data in var_itr4xe_2069 %}
  <div id="itr4xe" href="" class="square multicolored-border ease-back square-pad-50 fx-color-ff557a">{% liquid
    assign var_i9sld9_2056 = state_itr4xe___data.image | size
	assign var_i9sld9_2057 = "0"
    %}
    {% if var_i9sld9_2056 > var_i9sld9_2057 %}
  <img src="{% liquid
    assign var_i9sld9_2058 = state_itr4xe___data.image | first
	assign var_i9sld9_2059 = var_i9sld9_2058.url
    echo var_i9sld9_2059
  %}" id="i9sld9" class="square-img__cont obj-cov-center" alt="{% liquid
    assign var_i9sld9_2060 = state_itr4xe___data.image | first
	assign var_i9sld9_2061 = var_i9sld9_2060.fileName
    echo var_i9sld9_2061
  %}"></img>{% endif %}<DIV id="ixwk7i" class="text-color-737373 typo-thin-20-28 squares__txt-cont">{% liquid
    assign var_io4yzm_2063 = state_itr4xe___data.title
    %}
    {% if var_io4yzm_2063 and var_io4yzm_2063 != blank and var_io4yzm_2063 != empty %}
  <h4 id="io4yzm" class="h4">{% liquid
    assign var_io4yzm_2062 = state_itr4xe___data.title
    echo var_io4yzm_2062
  %}</h4>{% endif %}{% liquid
    assign var_ihbeg8_2065 = state_itr4xe___data.text
    %}
    {% if var_ihbeg8_2065 and var_ihbeg8_2065 != blank and var_ihbeg8_2065 != empty %}
  <div id="ihbeg8" __p="undefined" href="" class="">{% liquid
    assign var_ihbeg8_2064 = state_itr4xe___data.text
    echo var_ihbeg8_2064
  %}</div>{% endif %}</DIV>{% liquid
    assign var_iwkwoy_2067 = state_itr4xe___data.label
    %}
    {% if var_iwkwoy_2067 and var_iwkwoy_2067 != blank and var_iwkwoy_2067 != empty %}
  <a href="{% liquid
    assign var_iwkwoy_2068 = state_itr4xe___data.uRL
    echo var_iwkwoy_2068
  %}" id="iwkwoy" style="padding:10px;" class="bottom p">{% liquid
    assign var_iwkwoy_2066 = state_itr4xe___data.label
    echo var_iwkwoy_2066
  %}</a>{% endif %}</div>{% endfor %}</div>{% liquid
    assign var_i05x3g_2071 = state_i2gwfj_i2gwfj-8wnzlaji45f.cTALabel
    %}
    {% if var_i05x3g_2071 and var_i05x3g_2071 != blank and var_i05x3g_2071 != empty %}
  <a id="i05x3g" class="cta-btn text-white bg-ff557a" href="{% liquid
    assign var_i05x3g_2072 = state_i2gwfj_i2gwfj-8wnzlaji45f.cTAUrl
    echo var_i05x3g_2072
  %}" title="{% liquid
    assign var_i05x3g_2073 = state_i2gwfj_i2gwfj-8wnzlaji45f.cTALabel
    echo var_i05x3g_2073
  %}">{% liquid
    assign var_i05x3g_2070 = state_i2gwfj_i2gwfj-8wnzlaji45f.cTALabel
    echo var_i05x3g_2070
  %}</a>{% endif %}</div></section>{% endif %}{% liquid
    assign var_idiu9l_2170 = state_ixhp6z___data.item
    assign state_i2gwfj_i2gwfj-8wnzlaji45f = var_idiu9l_2170
  %}{% liquid
    assign var_idiu9l_2168 = state_i2gwfj_i2gwfj-8wnzlaji45f.type
	assign var_idiu9l_2169 = "section-squares-features"
    %}
    {% if var_idiu9l_2168 == var_idiu9l_2169 %}
  <section id="idiu9l" class="max-1400 margin-section-50"><div class="max-1400 text-color-363063"><DIV href="" id="itlhxl" class="rich-text">{% liquid
    assign var_iki3ee_2127 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureTitle
    %}
    {% if var_iki3ee_2127 and var_iki3ee_2127 != blank and var_iki3ee_2127 != empty %}
  <h2 class="h2 has-anchor" id="{% liquid
    assign var_iki3ee_2128 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureTitle | slugify
    echo var_iki3ee_2128
  %}"><a href="{% liquid
    assign var_i1teay_2126 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureTitle | slugify | prepend: "#"
    echo var_i1teay_2126
  %}" id="i1teay" class="">{% liquid
    assign var_i1teay_2125 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureTitle
    echo var_i1teay_2125
  %}</a><br/></h2>{% endif %}{% liquid
    assign var_ibjscg_2133 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureSubtitle
    %}
    {% if var_ibjscg_2133 and var_ibjscg_2133 != blank and var_ibjscg_2133 != empty %}
  <h3 class="h3" id="{% liquid
    assign var_ibjscg_2134 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureSubtitle | slugify
    echo var_ibjscg_2134
  %}">{% liquid
    assign var_i45ij4_2132 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureSubtitle
    %}
    {% if var_i45ij4_2132 and var_i45ij4_2132 != blank and var_i45ij4_2132 != empty %}
  <span href="" id="i45ij4" class="">{% liquid
    assign var_i45ij4_2131 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureSubtitle
    echo var_i45ij4_2131
  %}</span>{% endif %}<br/></h3>{% endif %}{% liquid
    assign var_i7n0o8_2136 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureText
    %}
    {% if var_i7n0o8_2136 and var_i7n0o8_2136 != blank and var_i7n0o8_2136 != empty %}
  <div id="i7n0o8" class="p">{% liquid
    assign var_i7n0o8_2135 = state_i2gwfj_i2gwfj-8wnzlaji45f.featureText
    echo var_i7n0o8_2135
  %}</div>{% endif %}</DIV></div><div id="i8dcdk" class="grid margin-section-50">{% liquid
    assign var_i5zwmh_2167 = squidex.queryFeatureContents
    %}
    {% for state_itr4xe___data in var_i5zwmh_2167 %}
  <div href="" id="i5zwmh" class="square multicolored-border ease-back square-pad fx-color-ff557a">{% liquid
    assign var_i9sld9-2_2154 = state_itr4xe___data.flatData.image
    assign state_i9sld9-2-794_i9sld9-2-zafytzxtk79 = var_i9sld9-2_2154
  %}{% liquid
    assign var_i9sld9-2_2152 = state_i9sld9-2-794_i9sld9-2-zafytzxtk79 | size
	assign var_i9sld9-2_2153 = "0"
    %}
    {% if var_i9sld9-2_2152 > var_i9sld9-2_2153 %}
  <img src="{% liquid
    assign var_i9sld9-2_2155 = state_i9sld9-2-794_i9sld9-2-zafytzxtk79 | first
	assign var_i9sld9-2_2156 = var_i9sld9-2_2155.url
    echo var_i9sld9-2_2156
  %}" id="i9sld9-2" class="square-img__cont" alt="{% liquid
    assign var_i9sld9-2_2157 = state_i9sld9-2-794_i9sld9-2-zafytzxtk79 | first
	assign var_i9sld9-2_2158 = var_i9sld9-2_2157.fileName
    echo var_i9sld9-2_2158
  %}"></img>{% endif %}<DIV id="i401fh" href="" class="text-color-737373 typo-thin-20-28 squares__txt-cont">{% liquid
    assign var_i5zf68_2160 = state_itr4xe___data.flatData.title
    %}
    {% if var_i5zf68_2160 and var_i5zf68_2160 != blank and var_i5zf68_2160 != empty %}
  <h4 id="i5zf68" class="h4">{% liquid
    assign var_i5zf68_2159 = state_itr4xe___data.flatData.title
    echo var_i5zf68_2159
  %}</h4>{% endif %}{% liquid
    assign var_i5zf6c_2162 = state_itr4xe___data.flatData.text
    %}
    {% if var_i5zf6c_2162 and var_i5zf6c_2162 != blank and var_i5zf6c_2162 != empty %}
  <div id="i5zf6c" __p="undefined" href="" class="">{% liquid
    assign var_i5zf6c_2161 = state_itr4xe___data.flatData.text
    echo var_i5zf6c_2161
  %}</div>{% endif %}</DIV>{% liquid
    assign var_iswwf2_2165 = state_itr4xe___data.flatData.uRL
    %}
    {% if var_iswwf2_2165 and var_iswwf2_2165 != blank and var_iswwf2_2165 != empty %}
  <a href="{% liquid
    assign var_iswwf2_2166 = state_itr4xe___data.flatData.label
    echo var_iswwf2_2166
  %}" id="iswwf2" style="padding:10px;" class="bottom p">{% liquid
    assign var_iswwf2_2163 = squidex.queryGlobalContents | first
	assign var_iswwf2_2164 = var_iswwf2_2163.flatData.ctaCardsLabel
    echo var_iswwf2_2164
  %}</a>{% endif %}</div>{% endfor %}</div></section>{% endif %}{% liquid
    assign var_ie9t1i_2217 = state_ixhp6z___data.item
    assign state_i2gwfj_i2gwfj-8wnzlaji45f = var_ie9t1i_2217
  %}{% liquid
    assign var_ie9t1i_2215 = state_i2gwfj_i2gwfj-8wnzlaji45f.type
	assign var_ie9t1i_2216 = "section-squares-pages"
    %}
    {% if var_ie9t1i_2215 == var_ie9t1i_2216 %}
  <div id="ie9t1i" class="max-1400"><div id="i73ypm" class="grid margin-section-50">{% liquid
    assign var_iyuwtx_2210 = squidex.queryGlobalContents | first
	assign var_iyuwtx_2211 = var_iyuwtx_2210.flatData.ctaCardsLabel | append: ": "
    assign state_itr4xe_iyuwtx-zqwjqv5262 = var_iyuwtx_2211
  %}
{% liquid
    assign var_iyuwtx_2212 = state_i2gwfj_i2gwfj-8wnzlaji45f.filterByType
    assign state_itr4xe_iyuwtx-3d1a4s83oz3 = var_iyuwtx_2212
  %}{% liquid
    assign var_iyuwtx_2209 = squidex.queryPageContents | where: "flatData.type", state_itr4xe_iyuwtx-3d1a4s83oz3 | sort: "flatData.pubDate"
    %}
    {% for state_itr4xe___data in var_iyuwtx_2209 %}
  <a href="{% liquid
    assign var_iyuwtx_2213 = state_itr4xe___data.flatData.slug
    echo var_iyuwtx_2213
  %}" id="iyuwtx" class="square multicolored-border ease-back square-pad fx-color-ff557a link-text-decoration" title="{% liquid
    assign var_iyuwtx_2214 = state_itr4xe___data.flatData.title | prepend: state_itr4xe_iyuwtx-zqwjqv5262 | escape
    echo var_iyuwtx_2214
  %}">{% liquid
    assign var_i5lbtr_2203 = state_itr4xe___data.flatData.listImage
    assign state_i9sld9-2-794_i9sld9-2-zafytzxtk79 = var_i5lbtr_2203
  %}{% liquid
    assign var_i5lbtr_2201 = state_i9sld9-2-794_i9sld9-2-zafytzxtk79 | size
	assign var_i5lbtr_2202 = "0"
    %}
    {% if var_i5lbtr_2201 > var_i5lbtr_2202 %}
  <img src="{% liquid
    assign var_i5lbtr_2204 = state_i9sld9-2-794_i9sld9-2-zafytzxtk79 | first
	assign var_i5lbtr_2205 = var_i5lbtr_2204.url
    echo var_i5lbtr_2205
  %}" class="square-img__cont" alt="{% liquid
    assign var_i5lbtr_2206 = state_itr4xe___data.flatData.title
    echo var_i5lbtr_2206
  %}"></img>{% endif %}<DIV href="" id="innxzr" class="text-color-737373 typo-thin-20-28 squares__txt-cont">{% liquid
    assign var_ibocyt_2208 = state_itr4xe___data.flatData.title
    %}
    {% if var_ibocyt_2208 and var_ibocyt_2208 != blank and var_ibocyt_2208 != empty %}
  <h4 class="h4">{% liquid
    assign var_ibocyt_2207 = state_itr4xe___data.flatData.title
    echo var_ibocyt_2207
  %}</h4>{% endif %}</DIV></a>{% endfor %}</div></div>{% endif %}{% liquid
    assign var_iw67w2_2268 = state_ixhp6z___data.item
    assign state_iqnenf_iqnenf-jvgg22fjf5 = var_iw67w2_2268
  %}{% liquid
    assign var_iw67w2_2266 = state_iqnenf_iqnenf-jvgg22fjf5.type
	assign var_iw67w2_2267 = "special-heading-img"
    %}
    {% if var_iw67w2_2266 == var_iw67w2_2267 %}
  <section id="iw67w2" class="bg-gradient margin-section-50 padding-section-150 special-heading-img"><div id="iujr4l" class="max-1400 flex-center alternate-in-section fx-multiply"><div id="if1al3" class="col-1-2">{% liquid
    assign var_ifmwxi_2242 = state_iqnenf_iqnenf-jvgg22fjf5.image | first
	assign var_ifmwxi_2243 = var_ifmwxi_2242.url
    %}
    {% if var_ifmwxi_2243 and var_ifmwxi_2243 != blank and var_ifmwxi_2243 != empty %}
  <img src="{% liquid
    assign var_ifmwxi_2244 = state_iqnenf_iqnenf-jvgg22fjf5.image | first
	assign var_ifmwxi_2245 = var_ifmwxi_2244.url
    echo var_ifmwxi_2245
  %}" id="ifmwxi" class="spe-heading-icone" alt="{% liquid
    assign var_ifmwxi_2246 = state_iqnenf_iqnenf-jvgg22fjf5.image | first
	assign var_ifmwxi_2247 = var_ifmwxi_2246.slug
    echo var_ifmwxi_2247
  %}"></img>{% endif %}</div><div id="i2efwg" class="text-color-363063 col-1-2 fx-color-ff557a"><DIV id="i8sxnc" class="rich-text">{% liquid
    assign var_i76six_2252 = state_iqnenf_iqnenf-jvgg22fjf5.title
    %}
    {% if var_i76six_2252 and var_i76six_2252 != blank and var_i76six_2252 != empty %}
  <h2 class="h2 has-anchor" id="{% liquid
    assign var_i76six_2253 = state_iqnenf_iqnenf-jvgg22fjf5.title | slugify
    echo var_i76six_2253
  %}"><a id="i42bji" href="{% liquid
    assign var_i42bji_2251 = state_iqnenf_iqnenf-jvgg22fjf5.title | slugify | prepend: "#"
    echo var_i42bji_2251
  %}" class="">{% liquid
    assign var_i42bji_2250 = state_iqnenf_iqnenf-jvgg22fjf5.title
    echo var_i42bji_2250
  %}</a></h2>{% endif %}{% liquid
    assign var_iggyyk_2255 = state_iqnenf_iqnenf-jvgg22fjf5.subtitle
    %}
    {% if var_iggyyk_2255 and var_iggyyk_2255 != blank and var_iggyyk_2255 != empty %}
  <h3 id="iggyyk" class="h3">{% liquid
    assign var_iggyyk_2254 = state_iqnenf_iqnenf-jvgg22fjf5.subtitle
    echo var_iggyyk_2254
  %}</h3>{% endif %}</DIV>{% liquid
    assign var_iv6hkz_2257 = state_iqnenf_iqnenf-jvgg22fjf5.text
    %}
    {% if var_iv6hkz_2257 and var_iv6hkz_2257 != blank and var_iv6hkz_2257 != empty %}
  <div id="iv6hkz" class="p fx-multiply">{% liquid
    assign var_iv6hkz_2256 = state_iqnenf_iqnenf-jvgg22fjf5.text
    echo var_iv6hkz_2256
  %}</div>{% endif %}</div></div><div id="im091j" title="i303s" class="CTA-inline max-1400 squares-pages__cta-cont">{% liquid
    assign var_ivtgsg_2259 = state_iqnenf_iqnenf-jvgg22fjf5.labelSecondary
    %}
    {% if var_ivtgsg_2259 and var_ivtgsg_2259 != blank and var_ivtgsg_2259 != empty %}
  <a id="ivtgsg" class="cta text-color-FF557A" href="{% liquid
    assign var_ivtgsg_2260 = state_iqnenf_iqnenf-jvgg22fjf5.uRLSecondary
    echo var_ivtgsg_2260
  %}" title="{% liquid
    assign var_ivtgsg_2261 = state_iqnenf_iqnenf-jvgg22fjf5.labelSecondary
    echo var_ivtgsg_2261
  %}" target="_blank">{% liquid
    assign var_ivtgsg_2258 = state_iqnenf_iqnenf-jvgg22fjf5.labelSecondary
    echo var_ivtgsg_2258
  %}</a>{% endif %}{% liquid
    assign var_i8nzcd_2263 = state_iqnenf_iqnenf-jvgg22fjf5.label
    %}
    {% if var_i8nzcd_2263 and var_i8nzcd_2263 != blank and var_i8nzcd_2263 != empty %}
  <a class="cta-btn text-color-FF557A text-color-FFFBFC ease-back" href="{% liquid
    assign var_i8nzcd_2264 = state_iqnenf_iqnenf-jvgg22fjf5.uRL
    echo var_i8nzcd_2264
  %}" title="{% liquid
    assign var_i8nzcd_2265 = state_iqnenf_iqnenf-jvgg22fjf5.label
    echo var_i8nzcd_2265
  %}" target="_blank">{% liquid
    assign var_i8nzcd_2262 = state_iqnenf_iqnenf-jvgg22fjf5.label
    echo var_i8nzcd_2262
  %}</a>{% endif %}</div></section>{% endif %}{% liquid
    assign var_ie2a_2321 = state_ixhp6z___data.item
    assign state_ie2a_ie2a-1q02u9snin4 = var_ie2a_2321
  %}{% liquid
    assign var_ie2a_2319 = state_ie2a_ie2a-1q02u9snin4.type
	assign var_ie2a_2320 = "section-rect-bg"
    %}
    {% if var_ie2a_2319 == var_ie2a_2320 %}
  <section id="ie2a" class="bg-purple-grain"><SECTION id="iccgqa" class="bg-rectangles"><SECTION id="i4cis5" class="text-white max-1400"><DIV id="ibx7rg" class="rich-text"><h2 class="h2 has-anchor" id="{% liquid
    assign var_ibszxf_2298 = state_ie2a_ie2a-1q02u9snin4.title | slugify
    echo var_ibszxf_2298
  %}"><a id="i9c9qc" href="{% liquid
    assign var_i9c9qc_2297 = state_ie2a_ie2a-1q02u9snin4.title | slugify | prepend: "#"
    echo var_i9c9qc_2297
  %}" class="">{% liquid
    assign var_i9c9qc_2296 = state_ie2a_ie2a-1q02u9snin4.title
    echo var_i9c9qc_2296
  %}</a><br/></h2>{% liquid
    assign var_ic78nd_2300 = state_ie2a_ie2a-1q02u9snin4.subtitle
    %}
    {% if var_ic78nd_2300 and var_ic78nd_2300 != blank and var_ic78nd_2300 != empty %}
  <h3 id="ic78nd" class="h3">{% liquid
    assign var_ic78nd_2299 = state_ie2a_ie2a-1q02u9snin4.subtitle
    echo var_ic78nd_2299
  %}</h3>{% endif %}</DIV><div id="irtwfe" class="grid space-evently">{% liquid
    assign var_inhzoh_2317 = state_ie2a_ie2a-1q02u9snin4.cards
    %}
    {% for state_inhzoh-7794___data in var_inhzoh_2317 %}
  <a id="inhzoh" href="{% liquid
    assign var_inhzoh_2318 = state_inhzoh-7794___data.link
    echo var_inhzoh_2318
  %}" class="cta-btn-ico nonunderline text-color-8772FE"><div id="i3rtbh" class="app-ico-cont"><img webc:is="eleventy-image" src="{% liquid
    assign var_im57qh_2309 = state_inhzoh-7794___data.image | first
	assign var_im57qh_2310 = var_im57qh_2309.url
    echo var_im57qh_2310
  %}" id="im57qh" class="app-ico border-radius-25" alt="{% liquid
    assign var_im57qh_2311 = state_inhzoh-7794___data.image | first
	assign var_im57qh_2312 = var_im57qh_2311.fileName
    echo var_im57qh_2312
  %}"></img></div>{% liquid
    assign var_itqilc_2314 = state_inhzoh-7794___data.title
    %}
    {% if var_itqilc_2314 and var_itqilc_2314 != blank and var_itqilc_2314 != empty %}
  <div id="itqilc" href="" class="uppercase nonunderline text-white app-ico-title">{% liquid
    assign var_itqilc_2313 = state_inhzoh-7794___data.title
    echo var_itqilc_2313
  %}</div>{% endif %}{% liquid
    assign var_ixu88k_2316 = state_inhzoh-7794___data.text
    %}
    {% if var_ixu88k_2316 and var_ixu88k_2316 != blank and var_ixu88k_2316 != empty %}
  <p href="" id="ixu88k" class="text-white app-ico-txt">{% liquid
    assign var_ixu88k_2315 = state_inhzoh-7794___data.text
    echo var_ixu88k_2315
  %}</p>{% endif %}</a>{% endfor %}</div></SECTION></SECTION></section>{% endif %}{% liquid
    assign var_ik9a8g_2360 = state_ixhp6z___data.item
    assign state_ik9a8g_ik9a8g-wlais2c09k = var_ik9a8g_2360
  %}{% liquid
    assign var_ik9a8g_2358 = state_ik9a8g_ik9a8g-wlais2c09k.type
	assign var_ik9a8g_2359 = "section-network"
    %}
    {% if var_ik9a8g_2358 == var_ik9a8g_2359 %}
  <section id="ik9a8g" class="box-cont"><DIV id="iqkal8" class="box box--shadow network-cont"><div id="io9ztk" class="text-color-363063 text-centered box-title__cont"><h2 id="ig68th" href="" class="box-title__title uppercase nonunderline">{% liquid
    assign var_ig68th_2340 = state_ik9a8g_ik9a8g-wlais2c09k.title
    echo var_ig68th_2340
  %}</h2><p id="ictw79" href="" class="box-title__subtitle">{% liquid
    assign var_ictw79_2341 = state_ik9a8g_ik9a8g-wlais2c09k.subtitle
    echo var_ictw79_2341
  %}</p></div><div id="i6v82o" class="network-4-app p">{% liquid
    assign var_ig5ls7_2356 = state_ik9a8g_ik9a8g-wlais2c09k.cards
    %}
    {% for state_ig5ls7-3034___data in var_ig5ls7_2356 %}
  <a id="ig5ls7" href="{% liquid
    assign var_ig5ls7_2357 = state_ig5ls7-3034___data.link
    echo var_ig5ls7_2357
  %}" class="cta-btn-mini-ico__cont nonunderline color-hover"><div id="i617n5" class="cta-btn-mini-ico multicolored-border"><div id="app-ico-img" class="app-ico"><img webc:is="eleventy-image" src="{% liquid
    assign var_i3nfo7_2349 = state_ig5ls7-3034___data.image | first
	assign var_i3nfo7_2350 = var_i3nfo7_2349.url
    echo var_i3nfo7_2350
  %}" id="i3nfo7" class="full-width border-radius-5" alt="{% liquid
    assign var_i3nfo7_2351 = state_ig5ls7-3034___data.image | first
	assign var_i3nfo7_2352 = var_i3nfo7_2351.fileName
    echo var_i3nfo7_2352
  %}" title="{% liquid
    assign var_i3nfo7_2353 = state_ig5ls7-3034___data.title
    echo var_i3nfo7_2353
  %}"></img></div></div>{% liquid
    assign var_ircxzg_2355 = state_ig5ls7-3034___data.text
    %}
    {% if var_ircxzg_2355 and var_ircxzg_2355 != blank and var_ircxzg_2355 != empty %}
  <div id="ircxzg" class="app-ico-text">{% liquid
    assign var_ircxzg_2354 = state_ig5ls7-3034___data.text
    echo var_ircxzg_2354
  %}</div>{% endif %}</a>{% endfor %}</div></DIV></section>{% endif %}{% liquid
    assign var_i58byx_2369 = state_ixhp6z___data.item
    assign state_ik9a8g_ik9a8g-wlais2c09k = var_i58byx_2369
  %}{% liquid
    assign var_i58byx_2367 = state_ik9a8g_ik9a8g-wlais2c09k.type
	assign var_i58byx_2368 = "section-blog-data"
    %}
    {% if var_i58byx_2367 == var_i58byx_2368 %}
  <section id="i58byx" class="box-cont"><DIV class="box box--shadow"><div class="text-color-363063 text-centered box-title__cont"><h3 href="" class="box-title__title uppercase nonunderline">{% liquid
    assign var_i6whis_2364 = state_ik9a8g_ik9a8g-wlais2c09k.author | first
	assign var_i6whis_2365 = var_i6whis_2364.flatData.name
    echo var_i6whis_2365
  %}</h3><p href="" class="box-title__subtitle">{% liquid
    assign var_inj9vj_2366 = state_ik9a8g_ik9a8g-wlais2c09k.date | date: "%Y-%m-%d"
    echo var_inj9vj_2366
  %}</p></div></DIV></section>{% endif %}{% endfor %}</MAIN><div id="ixcpsj" class="vertical-list">{% liquid
    assign var_i0nrx7_2399 = squidex.findGlobalSingleton.flatData
    assign state_ij90tw_ij90tw-stl8ngtrzye = var_i0nrx7_2399
  %}<section id="i0nrx7" class="relative bg-rectangles"><div id="idjlci" class="max-1400 text-white"><DIV href="" id="iolwv3" class="rich-text">{% liquid
    assign var_i4hi0b_2388 = state_ij90tw_ij90tw-stl8ngtrzye.footerHeadingsTitle
    %}
    {% if var_i4hi0b_2388 and var_i4hi0b_2388 != blank and var_i4hi0b_2388 != empty %}
  <h2 class="h2">{% liquid
    assign var_i4hi0b_2387 = state_ij90tw_ij90tw-stl8ngtrzye.footerHeadingsTitle
    echo var_i4hi0b_2387
  %}</h2>{% endif %}{% liquid
    assign var_igeu4d_2390 = state_ij90tw_ij90tw-stl8ngtrzye.footerHeadingsSubtitle
    %}
    {% if var_igeu4d_2390 and var_igeu4d_2390 != blank and var_igeu4d_2390 != empty %}
  <h3 id="igeu4d" class="h3">{% liquid
    assign var_igeu4d_2389 = state_ij90tw_ij90tw-stl8ngtrzye.footerHeadingsSubtitle
    echo var_igeu4d_2389
  %}</h3>{% endif %}{% liquid
    assign var_iji9tf_2392 = state_ij90tw_ij90tw-stl8ngtrzye.footerHeadingsText
    %}
    {% if var_iji9tf_2392 and var_iji9tf_2392 != blank and var_iji9tf_2392 != empty %}
  <div id="iji9tf" class="p">{% liquid
    assign var_iji9tf_2391 = state_ij90tw_ij90tw-stl8ngtrzye.footerHeadingsText
    echo var_iji9tf_2391
  %}</div>{% endif %}</DIV><div title="i303s" id="iolylu" class="CTA-inline">{% liquid
    assign var_i04q6g_2394 = state_ij90tw_ij90tw-stl8ngtrzye.labelSecondary
    %}
    {% if var_i04q6g_2394 and var_i04q6g_2394 != blank and var_i04q6g_2394 != empty %}
  <a id="i04q6g" class="cta cta-hover-colored" href="{% liquid
    assign var_i04q6g_2395 = state_ij90tw_ij90tw-stl8ngtrzye.uRLSecondary
    echo var_i04q6g_2395
  %}">{% liquid
    assign var_i04q6g_2393 = state_ij90tw_ij90tw-stl8ngtrzye.labelSecondary
    echo var_i04q6g_2393
  %}</a>{% endif %}{% liquid
    assign var_int4zg_2397 = state_ij90tw_ij90tw-stl8ngtrzye.label
    %}
    {% if var_int4zg_2397 and var_int4zg_2397 != blank and var_int4zg_2397 != empty %}
  <a id="int4zg" class="cta-btn text-white bg-ff557a" href="{% liquid
    assign var_int4zg_2398 = state_ij90tw_ij90tw-stl8ngtrzye.uRL
    echo var_int4zg_2398
  %}">{% liquid
    assign var_int4zg_2396 = state_ij90tw_ij90tw-stl8ngtrzye.label
    echo var_int4zg_2396
  %}</a>{% endif %}</div></div></section><div id="ifd17j" class="color-EDEDED"><div id="iwglvh" class="grid footer-cont grid-gap">{% liquid
    assign var_itvavp_2404 = squidex.findGlobalSingleton.flatData.links
    %}
    {% for state_itvavp-8611___data in var_itvavp_2404 %}
  <div id="itvavp" class="footer-text text-color-363063 nonunderline"><h3 id="ixo23m" href="" class="h6">{% liquid
    assign var_ixo23m_2402 = state_itvavp-8611___data.title
    echo var_ixo23m_2402
  %}</h3><div id="ivs696" href="" class="p">{% liquid
    assign var_ivs696_2403 = state_itvavp-8611___data.content
    echo var_ivs696_2403
  %}</div></div>{% endfor %}<div id="ip52m6" class="text-color-363063"></div></div></div></div><SECTION id="ixklua" class="bg-purple-grain sub-footer"><div id="iskfoh" class="text-16px text-white text-centered">{% liquid
    assign var_iskfoh_2405 = squidex.findGlobalSingleton.flatData.footerLegal
    echo var_iskfoh_2405
  %}</div></SECTION></body>
</html>